* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;

  background-image: url("./mem.jpeg");

  display: inline-block;
  border-radius: 5px;
}
